

:host {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.modalFondo {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 80vw;
  max-height: 90vh;
  background: #1b1f2b;
  color: #f5f5f5;
  padding: 2.5rem;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;

}


.modal button {
  align-self: flex-end;
  background-color: transparent;
  color: #ccc;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.modal button:hover {
  scale: 1.2;
}

.ql-editor{
  line-height: 30px;
}

 .pagination button:disabled {
  color: #666;
  border-color: #333;
  cursor: not-allowed;
}


.comments-container {
  background-color: #1e1f2b;
  border-radius: 16px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.comments-container h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5rem;
}

.comment-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.02);
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.comment-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.comment-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
}


.comment-card .info {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.9rem;
  color: #aaaaaa;
}

.comment-card .content {
  font-size: 1rem;
  color: #dddddd;
  line-height: 1.4;
  margin: 0;
}

.pagination span{
  padding: 1rem;
}

.addComent {
  margin-top: 3.3rem;
  background-color: #1f1f2e;
  border-radius: 0 0 1rem 1rem;
}

.addComent h2 {
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
.buttons{
  display: flex;
  gap: 2rem;
  user-select: none;
}

.buttons button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(90deg, #6366f1 55%, #44455a 100%);
  color: #f4f4fa;
  font-size: 1.05rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition:  0.2s, box-shadow 0.2s, transform 0.1s;
  letter-spacing: 1px;
}

.buttons button:disabled{
  cursor:not-allowed;
  background: linear-gradient(90deg, #44455a 100%);

}


.buttons button:hover{
  background: linear-gradient(90deg, #818cf8 55%, #6366f1 100%);
  scale: 1.1;
}

.input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input input {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: #2c2c3e;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
}

.input input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}


.input input:focus{
  outline: none;
  border: 1px, solid;
  border-color: #6366f1;
  background: #28293a;
}
