<div class="box">
  <img src="avanzatech.png" alt="">
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="create()" class="maquetado">
      <h2>Register</h2>

      <input
        type="text"
        formControlName="username"
        placeholder="username" />
      <div *ngIf="form.get('username')?.touched && form.get('username')?.invalid">
        <small *ngIf="form.get('username')?.errors?.['required']">Campo obligatorio</small>
        <small *ngIf="form.get('username')?.errors?.['usernameError']">El nombre ya existe</small>
      </div>

      <input
        type="email"
        formControlName="email"
        placeholder="email" />
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <small *ngIf="form.get('email')?.errors?.['required']">Campo obligatorio</small>
        <small *ngIf="form.get('email')?.errors?.['pattern']">Correo no válido</small>
        <small *ngIf="form.get('email')?.errors?.['emailError']">El correo ya existe</small>
      </div>

     <div class="input-password">
  <input
    [type]="verContrasena ? 'text': 'password'"
    formControlName="password"
    placeholder="password" />


    @if(ojitoP){
    <button id="ojito" type="button" (click)="this.verContrasena = !this.verContrasena" mat-icon-button>
      <mat-icon>{{ verContrasena ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    }
</div>
<div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
  <small *ngIf="form.get('password')?.errors?.['required']">Campo obligatorio</small>
</div>

<div class="input-password">
  <input
    [type]="verContrasena ? 'text': 'password'"
    formControlName="confirm"
    placeholder="confirm password" />
    @if(ojitoC){

      <button id="ojito" type="button" (click)="this.verContrasena = !this.verContrasena" mat-icon-button>
        <mat-icon>{{ verContrasena ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    }
</div>
<div *ngIf="form.get('confirm')?.touched && form.get('confirm')?.errors?.['required']">
  <small>Campo obligatorio</small>
</div>
<div *ngIf="form.errors?.['error'] && form.get('confirm')?.touched">
  <small>Las contraseñas no coinciden</small>
</div>

      <button type="submit" [disabled]="form.invalid || submiting">Submit</button>

      <div class="confirm">
        <p>Have an account? </p><a [routerLink]="['/login']">Log in</a>
      </div>
    </form>
  </div>
</div>
