<app-navbar
  [logged]="logged()"
  [username]="username"

  [disable]="disable"
  (logout)="logout()"
  [logouted]="logouted"
></app-navbar>
<div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
      <span>{{ startIndex() + 1 }}–{{ endIndex() }} of {{ totalPost }}</span>
      <button (click)="nextPage()" [disabled]="endIndex() >= totalPost">›</button>
    </div>
<div class="scroll">
  <div class="posts">
    @if (finished) {

      <app-post
      *ngFor="let i of posts"
      [post]="i"
      [liked]="mapa[i.id]? mapa[i.id]: {id:0, bool:false} "
      [logged]="logged()"
      (showDetail)="showPostDetail($event)"
      ></app-post>
    }

  </div>
</div>
@if (logged()) {

  <div class="add" (click)="sendPost()">
    <i class="fas fa-pen fa-4x"></i>
  </div>
}

<app-post-detail *ngIf="modal" [post]="modal" [logged]="logged()" (close)="closeModal()"></app-post-detail>

@if(creating){
  <app-create (close) ="closeSendPost()"></app-create>
}


